*{
    margin:0;
    padding: 0;
}
.sky{
    position: absolute;
    height: 100vh;
    width: 800vw;
    background-image: url(cloud.jpg);
    background-repeat: repeat-x;
    animation: skymove linear 500s infinite;
}
.mountain{
    position: absolute;
    height: 60vh;
    width: 800vw;
    background-image: url(mountain.png);
    top: 50vh;
    background-repeat: repeat-x;
    animation: mountainmove linear 160s infinite;
}
.ufo{
    position: absolute;
    height: 26vh;
    width: 30vw;
    right:0px;
    background-image: url(ufo.png);
    bottom: 85vh;
    background-size: cover;
    animation: mountainmove linear 40s infinite;
}
body{
    overflow: hidden;
}
.plane{
    position: absolute;
    height: 22vh;
    width: 30vw;
    left:280px;
    background-image: url(plane1.png);
    background-size: cover;
    top: 20vh;
    animation: planeshake linear 6s infinite;
}

@keyframes mountainmove
{
    100%{
        transform: translateX(-500vw);
    }
}

@keyframes planeshake
{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
@keyframes skymove
{
    
    100%{
        transform: translateX(-500vw);
    }
}
